In [1]:
import sqlite3
conn = sqlite3.connect("Db-IMDB.db")
#cur = conn.cursor()
import pandas as pd

### 1. List all the directors who directed a 'Comedy' movie in a leap year. (You need to check that the genre is 'Comedyâ€™ and year is a leap year) Your query should return director name, the movie name, and the year.

In [2]:
sql_query='''SELECT p.name,m.title, m.year FROM MOVIE m, M_Genre g,Genre n,M_Director d, Person p
                           where trim(year) % 4 = 0 \
                           and  m.MID=g.MID \
                           and  m.MID=d.MID \
                           and  d.PID=p.PID \
                            and g.GID=n.GID \
                            and trim(n.Name)='Comedy' '''

result = pd.read_sql_query( sql_query, conn)
result

                      Name                             title    year
0             Milap Zaveri                        Mastizaade    2016
1             Milap Zaveri                        Mastizaade    2016
2             Umesh Ghadge              Kyaa Kool Hain Hum 3    2016
3             Umesh Ghadge              Kyaa Kool Hain Hum 3    2016
4            Sameer Sharma      Luv Shuv Tey Chicken Khurana    2012
5             Anees Bazmee                         Thank You  I 2011
6             Anees Bazmee                         Thank You  I 2011
7           Sanjeev Sharma                     Saat Uchakkey    2016
8           Sanjeev Sharma                     Saat Uchakkey    2016
9             Nitin Kakkar                        Filmistaan    2012
10       Krishnadev Yagnik                    Days of Tafree    2016
11         Abhishek Sharma     Tere Bin Laden: Dead Or Alive    2016
12         Abhishek Sharma     Tere Bin Laden: Dead Or Alive    2016
13            Mahesh Bhatt                   Papa Kahte Hain    1996
14            Mahesh Bhatt                   Papa Kahte Hain    1996
15            Sachin Yardi          Kyaa Super Kool Hain Hum    2012
16                  Sachin              Navra Mazha Navsacha    2004
17                  Sachin              Navra Mazha Navsacha    2004
18            Kawal Sharma                         Maalamaal    1988
19             Aditya Datt                 Will You Marry Me    2012
20          Rajnish Thakur  Mere Dost Picture Abhi Baaki Hai    2012
21          Rajnish Thakur  Mere Dost Picture Abhi Baaki Hai    2012
22            Karan Razdan               Mr Bhatti on Chutti    2012
23            Karan Razdan               Mr Bhatti on Chutti    2012
24      Jagdish Rajpurohit                            Bumboo    2012
25      Jagdish Rajpurohit                            Bumboo    2012
26             Suhas Kadav         Motu Patlu: King of Kings    2016
27        Vickrant Mahajan                     Challo Driver    2012
28        Vickrant Mahajan                     Challo Driver    2012
29               Bhagyaraj                       Mr. Bechara    1996
30               Bhagyaraj                       Mr. Bechara    1996
31            Rakesh Mehta              Life Ki Toh Lag Gayi    2012
32            Rakesh Mehta              Life Ki Toh Lag Gayi    2012
33            Anand Balraj          Daal Mein Kuch Kaala Hai    2012
34            Anand Balraj          Daal Mein Kuch Kaala Hai    2012
35            Govind Menon                 Kis Kis Ki Kismat    2004
36            Govind Menon                 Kis Kis Ki Kismat    2004
37         Pankaj Parashar                    Ab Ayega Mazaa    1984
38            Jabbar Patel                  Ek Hota Vidushak    1992
39            Jabbar Patel                  Ek Hota Vidushak    1992
40       Srinivas Bhashyam                      Paisa Vasool    2004
41             Raj Kaushal                  Shaadi Ka Laddoo    2004
42             Raj Kaushal                  Shaadi Ka Laddoo    2004
43   Siddharth Anand Kumar                       Let's Enjoy    2004
44   Siddharth Anand Kumar                       Let's Enjoy    2004

### 2. List the names of all the actors who played in the movie 'Anand' (1971)

In [3]:
sql_query='''SELECT p.Name FROM Movie m, M_Cast c, Person p \
                           where  trim(title) = 'Anand' \
                           and m.MID=c.MID \
                           and trim(c.PID)=trim(p.PID)  '''

result = pd.read_sql_query( sql_query, conn)
result

                 Name
0    Amitabh Bachchan
1       Rajesh Khanna
2       Sumita Sanyal
3          Ramesh Deo
4           Seema Deo
5      Asit Kumar Sen
6          Dev Kishan
7        Atam Prakash
8       Lalita Kumari
9              Savita
10     Brahm Bhardwaj
11       Gurnam Singh
12       Lalita Pawar
13        Durga Khote
14         Dara Singh
15      Johnny Walker
16          Moolchand

### 3. List all the actors who acted in a film before 1970 and in a film after 1990. (That is: < 1970 and > 1990.)

In [6]:
#https://stackoverflow.com/questions/26522727/convert-string-to-int-inside-where-clause-of-sqlite-statment
sql_query='''SELECT Distinct P.Name FROM Movie m, M_Cast c, Person p 
                           where cast(substr(year,-4) as INTEGER) < 1970 
                           and m.MID = c.MID 
                           and trim(c.PID) = p.PID
                           and trim(p.pid) in (SELECT distinct trim(p.pid) FROM Movie m, M_Cast c, Person p 
                           where cast(substr(year,-4) as INTEGER) > 1990 
                           and m.MID = c.MID 
                           and trim(c.PID) = p.PID)
                           order by P.name
                            '''

result = pd.read_sql_query( sql_query, conn)
result

                   Name
0           A.K. Hangal
1        Aachi Manorama
2                 Abbas
3                 Abdul
4     Abhi Bhattacharya
..                  ...
314       Shammi Kapoor
315       Shashi Kapoor
316        Subhash Ghai
317          Sunil Dutt
318         Vinod Mehra

[319 rows x 1 columns]

### 4. List all directors who directed 10 movies or more, in descending order of the number of movies they directed. Return the directors' names and the number of movies each of them directed.

In [21]:
sql_query='''SELECT p.name,count(p.name) AS 'No of Movies' FROM Movie m, M_Director d, Person p \
                        where m.MID = d.MID \
                        and trim(d.PID) = p.PID 
                        group by p.name 
                        having count(p.name) >=10
                        ORDER BY count(p.name) DESC ;   '''

result = pd.read_sql_query( sql_query, conn)
result

                          Name  No of Movies
0                 David Dhawan            39
1                 David Dhawan            39
2                 Mahesh Bhatt            36
3                 Mahesh Bhatt            36
4              Ram Gopal Varma            30
5                 Priyadarshan            30
6              Ram Gopal Varma            30
7                 Vikram Bhatt            29
8                 Vikram Bhatt            29
9         Hrishikesh Mukherjee            27
10        Hrishikesh Mukherjee            27
11                 Yash Chopra            21
12                 Yash Chopra            21
13             Basu Chatterjee            19
14              Shakti Samanta            19
15             Basu Chatterjee            19
16              Shakti Samanta            19
17                Subhash Ghai            18
18                Subhash Ghai            18
19    Abbas Alibhai Burmawalla            17
20               Shyam Benegal            17
21    Abbas Alibhai Burmawalla            17
22           Rama Rao Tatineni            17
23               Shyam Benegal            17
24                      Gulzar            16
25              Manmohan Desai            16
26                Raj N. Sippy            16
27                      Gulzar            16
28              Manmohan Desai            16
29                Raj N. Sippy            16
..                         ...           ...
81                Sanjay Gupta            11
82             Govind Nihalani            11
83                 Ketan Mehta            11
84                  Mohit Suri            11
85               Nasir Hussain            11
86          Pramod Chakravorty            11
87                Sanjay Gupta            11
88                   Bimal Roy            10
89                Hansal Mehta            10
90               J. Om Prakash            10
91                  J.P. Dutta            10
92                 Mehul Kumar            10
93                  N. Chandra            10
94                  Raj Kapoor            10
95               Sudhir Mishra            10
96            Tigmanshu Dhulia            10
97             Vishal Bhardwaj            10
98                   Bimal Roy            10
99                Hansal Mehta            10
100              J. Om Prakash            10
101                 J.P. Dutta            10
102                 K. Bapaiah            10
103        K. Muralimohana Rao            10
104                Mehul Kumar            10
105                 N. Chandra            10
106            Pankaj Parashar            10
107                 Raj Kapoor            10
108              Sudhir Mishra            10
109           Tigmanshu Dhulia            10
110            Vishal Bhardwaj            10

[111 rows x 2 columns]

### 5 a. For each year, count the number of movies in that year that had only female actors.

In [8]:
sql_query='''SELECT  distinct substr(year,-4) as 'Year', count(substr(year,-4)) AS 'No of Movies' FROM Movie m, M_Cast c, Person p \
                        where m.MID = c.MID 
                        and trim(c.PID) = p.PID 
                        and m.mid not in ( SELECT distinct m.mid FROM Movie m, M_Cast c, Person p 
                        where m.MID = c.MID 
                        and trim(c.PID) = p.PID 
                        and p.gender = 'Male'   )
                        Group by substr(year,-4) ;   '''

result = pd.read_sql_query( sql_query, conn)
result

   Year  No of Movies
0  1939             2
1  1999            11
2  2000            11
3  2018             3

### 5 b. Now include a small change: report for each year the percentage of movies in that year with only female actors, and the total number of movies made that year. For example, one answer will be: 1990 31.81 13522 meaning that in 1990 there were 13,522 movies, and 31.81% had only female actors. You do not need to round your answer.

In [14]:
sql_query='''Select distinct m.year as 'Year',m.TMovies as 'Total Movies', ((a.FMovies * 100.00) / m.TMovies) as '%age of Female Movies'
                from  (SELECT substr(m.year,-4) as 'Year', count(m.year) AS 'TMovies' FROM Movie m, M_Cast c, Person p \
                        where m.MID = c.MID \
                        and trim(c.PID) = p.PID \
                        Group by substr(m.year,-4)) m\
                Join ( SELECT  distinct substr(m.year,-4) as 'Year', count(substr(year,-4)) AS 'FMovies' FROM Movie m, M_Cast c, Person p \
                        where m.MID = c.MID 
                        and trim(c.PID) = p.PID 
                        and m.mid not in ( SELECT distinct m.mid FROM Movie m, M_Cast c, Person p 
                        where m.MID = c.MID 
                        and trim(c.PID) = p.PID 
                        and p.gender = 'Male'   )
                        Group by substr(m.year,-4)) a on m.year=a.year
                        
                group by m.year;   '''

result = pd.read_sql_query( sql_query, conn)
result

   Year  Total Movies  %age of Female Movies
0  1939            46               4.347826
1  1999          1709               0.643651
2  2000          1578               0.697085
3  2018          3009               0.099701

### 6. Find the film(s) with the largest cast. Return the movie title and the size of the cast. By "cast size" we mean the number of distinct actors that played in that movie: if an actor played multiple roles, or if it simply occurs multiple times in casts, we still count her/him only once.

In [25]:
sql_query=''' SELECT m.title,b.Total_Cast FROM Movie m
                     Left Join (SELECT c.MID,Count(a.PID) as 'Total_Cast' FROM M_Cast c
                                        Left Join (Select Distinct p.PID from Person p) a
                                                    where trim(c.PID) = a.PID 
                                                        group by c.MID) b
               WHERE m.MID=b.MID
               order by b.Total_Cast DESC
            ;   '''

result = pd.read_sql_query( sql_query, conn)
result

                                                title  Total_Cast
0                                       Ocean's Eight         238
1                                            Apaharan         233
2                                                Gold         215
3                                     My Name Is Khan         213
4                          Captain America: Civil War         191
5                                            Geostorm         170
6                                             Striker         165
7                                                2012         154
8                                              Pixels         144
9                               Yamla Pagla Deewana 2         140
10                                       The Avengers         138
11                                        Housefull 3         129
12                                                Fan         127
13                                    Split Wide Open         126
14                                  Bajrangi Bhaijaan         124
15                                      Train Station         122
16                                              Daddy         121
17                                 Million Dollar Arm         117
18                                          Octopussy         116
19                                            Dhoom:3         115
20                                        Miss Lovely         113
21                                   Jab Tak Hai Jaan         110
22                                       Love Aaj Kal         108
23                                          Mubarakan         108
24                                            Hey Ram         107
25                                           Judwaa 2         106
26                                Midnight's Children         106
27                      The Day the Earth Stood Still         105
28                              Oye Lucky! Lucky Oye!         104
29                                          Corporate         104
...                                               ...         ...
3443                                             Sins           4
3444                                           Ottran           4
3445                                     Bagh Bahadur           4
3446                                      Maya Darpan           4
3447                                            Dansh           4
3448                                Goa Dalli CID 999           4
3449                                 Military Officer           4
3450                                            Kaun?           3
3451                        Gauru: Journey of Courage           3
3452                                          Yaadein           3
3453              Chhota Bheem and the Throne of Bali           3
3454                                      Rui Ka Bojh           3
3455                      Goopi Gawaiya Bagha Bajaiya           3
3456                              Uyirile Kalanthathu           3
3457                           Man on Mission Fauladi           3
3458                               Mahakali Ka Insaaf           3
3459                                             Pihu           2
3460                              Mumbai Delhi Mumbai           2
3461                                 Chaar Sahibzaade           2
3462                               Leera the Soulmate           2
3463                        Motu Patlu: King of Kings           2
3464                          Man On Mission Jaanbaaz           2
3465                                           Anjaam           2
3466                                         Ram Raaj           2
3467                                Raja Aur Rangeeli           2
3468                                Return of Hanuman           1
3469  Chaar Sahibzaade 2: Rise of Banda Singh Bahadur           1
3470                            Vaibhav Sethia: Don't           1
3471                                      Subah Subah           1
3472                                       Kala Jigar           1

[3473 rows x 2 columns]

### 7. A decade is a sequence of 10 consecutive years. For example, say in your database you have movie information starting from 1965. Then the first decade is 1965, 1966, ..., 1974; the second one is 1967, 1968, ..., 1976 and so on. Find the decade D with the largest number of films and the total number of films in D.

In [17]:
#https://stackoverflow.com/questions/51609285/sql-query-for-find-the-decade-with-the-largest-number-of-records
#sql_query='''select substr(year,-4),count(year) from movie  group by year '''
sql_query='''select y.year as decade_start, y.year + 9 as decade_end, count(*) as num_movies
                from (select distinct year from movie) y 
                join movie m on m.year >= y.year and m.year < y.year + 10
                group by y.year
                order by count(*) desc
                limit 1;
              '''
result = pd.read_sql_query( sql_query, conn)
result

  decade_start  decade_end  num_movies
0         2008        2017        1128

### 8. Find the actors that were never unemployed for more than 3 years at a stretch. (Assume that the actors remain unemployed between two consecutive movies).

In [12]:
sql_query='''select p.name from Movie m,M_Cast c,Person p 
                    where m.mid=c.mid
                    and trim(c.pid)=p.pid        
                    and p.name not in ( select  distinct a.name from (select m.year,p.name from Movie m,M_Cast c,Person p 
                                        where m.mid=c.mid
                                        and trim(c.pid)=p.pid        
                                        order by p.Name,m.year) a 
                                join (select  m.year,p.name from Movie m,M_Cast c,Person p 
                                        where m.mid=c.mid
                                        and trim(c.pid)=p.pid        
                                        order by p.Name,m.year) b on a.name=b.name
                                        where a.year-b.year > 3 )
                    
                    '''
result = pd.read_sql_query( sql_query, conn)
result

                   Name
0        Christian Bale
1        Cate Blanchett
2         John Benfield
3           Lorna Brown
4       Patrick Godfrey
...                 ...
27332    Kamal Maharshi
27333   Hayley Cleghorn
27334   Nirvasha Jithoo
27335    Jaipreet Nagra
27336             Iqbal

[27337 rows x 1 columns]

### 9. Find all the actors that made more movies with Yash Chopra than any other director.

In [27]:
sql_query='''select distinct a.name from ( 
                                select distinct p.pid,p.name,d.pid, count(*) as 'Total' from Movie m,M_Cast c,Person p , M_Director d
                                    where m.mid=c.mid
                                    and m.mid=d.mid
                                    and trim(c.pid)=p.pid
                                    and d.pid not in ('nm0007181')
                                    and p.pid in ( select distinct p.pid from Movie m,M_Cast c,Person p 
                                                where m.mid=c.mid
                                                and trim(c.pid)=p.pid  
                                                and m.mid in ( select m.mid from Movie m,M_Director d,Person p 
                                                                where m.mid=d.mid
                                                                and trim(d.pid)=p.pid  
                                                                and p.name like 'Yash%' )) group by p.pid,p.name,d.pid ) a 
                    
                            join (select distinct p.pid,count(trim(p.pid)) as 'Yash' from Movie m,M_Cast c,Person p 
                                    where m.mid=c.mid
                                    and trim(c.pid)=p.pid  
                                    and m.mid in ( select m.mid from Movie m,M_Director d,Person p 
                                                    where m.mid=d.mid
                                                    and trim(d.pid)=p.pid  
                                                    and p.name like 'Yash%' )
                                    group by p.pid) b on a.pid=b.pid
                            where  b.Yash > a.Total 
                            
                                   
                    '''
result = pd.read_sql_query( sql_query, conn)
result

                  name
0     Amitabh Bachchan
1       Gulshan Grover
2        Shashi Kapoor
3        Shashi Kapoor
4        Rajesh Khanna
..                 ...
106        Shyam Arora
107        Ashok Verma
108              Nazir
109        Saul George
110      Surendra Rahi

[111 rows x 1 columns]

### 10. The Shahrukh number of an actor is the length of the shortest path between the actor and Shahrukh Khan in the "co-acting" graph. That is, Shahrukh Khan has Shahrukh number 0; all actors who acted in the same film as Shahrukh have Shahrukh number 1; all actors who acted in the same film as some actor with Shahrukh number 1 have Shahrukh number 2, etc. Return all actors whose Shahrukh number is 2.

In [16]:
sql_query =''' select distinct p.name from Movie m,M_Cast c,Person p 
                                    where m.mid=c.mid
                                    and trim(c.pid)=p.pid
                                    and m.mid in (select distinct m.mid from Movie m,M_Cast c,Person p 
                                                where m.mid=c.mid
                                                and trim(c.pid)=p.pid
                                                and p.pid in ( select distinct p.pid from Movie m,M_Cast c,Person p 
                                                               where m.mid=c.mid
                                                               and trim(c.pid)=p.pid
                                                               and m.mid in ( select distinct m.mid from Movie m,M_Cast c,Person p 
                                                                              where m.mid=c.mid
                                                                              and trim(c.pid)=p.pid  
                                                                              and p.name like '%Shah Rukh Khan%')))
                '''
result = pd.read_sql_query( sql_query, conn)
result

                        Name
0       Kristin Scott Thomas
1               Derek Jacobi
2                 Nick Frost
3             Walton Goggins
4             Michael Obiora
...                      ...
26877           Minoo Mehtab
26878           Mohini Manik
26879         Kamal Maharshi
26880        Hayley Cleghorn
26881        Nirvasha Jithoo

[26882 rows x 1 columns]

In [ ]:
con.close()